.idea1-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: red;
  justify-content: space-evenly;
}

.photography {
  background-color: aquamarine;
  width: 50%;
  height: 100vh;
  transition: all 0.3s ease-out;
}

.photography-bkg,
.resume-bkg {
  height: 100%;
  overflow: hidden;
}

.resume {
  background-color: white;
  width: 50%;
  height: 100vh;
  transition: all 0.3s ease-out;
}

.resume:hover,
.photography:hover {
  transform: scale(1.01);
}
