$primary-color: #2d3436
$language-color: #8854d0
$progress-bar-color: #a55eea
    
.tool 
    width: 500px
    height: 30px
    position: relative
    margin-bottom: 10px


    .language 
        background-color: $language-color
        width: 150px
        text-align: center
        padding: 3px
        z-index: 10
        position: absolute
        text-transform: uppercase


.progress-bar,
.progress-bar-fill,
.language 
   width: 500px
   height: 100%


.progress-bar 
    position: absolute
    top: 0
    z-index: 5
    text-align: right
    background-color: $primary-color


    p
        position: relative
        top: 50%
        transform: translateY(-50%)
        margin-right: 10px
        z-index: 100


.progress-bar-fill 
   border-radius: 20px
   position: absolute
   z-index: 7
   width: 300px
   background-color: $progress-bar-color

