.tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
}

.tools h1 {
  border-bottom: 2px solid #a55eea;
}

.tools li {
  text-align: center;
  background-color: #2d3436;
  margin-top: 5px;
}

.tools .languages {
  margin-right: 30px;
}

.tools .languages li {
  text-transform: uppercase;
}
