.section {
     padding: 30px;
}

.section hr {
     width: 200px;
     margin: 0 auto;
     border: 2px solid #2d3436;
}

.sectionHeader {
     text-align: center;
     font-size: 3rem;
     letter-spacing: 2px;
     text-transform: uppercase;
     padding-bottom: 15px;
}

.section-content {
     padding: 10px;
}
