@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

:root {
   --primary-color: #2d3436;
   --secondary-color: #00cec9;
   --progress-bar-color: #55efc4;
   --hero-background: #2d3436;
   --front-page-background: #0984e3;
   --navbar-background: #171715;
   --text-color-primary: rgb(193, 178, 154);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Noto Sans JP", sans-serif;
   list-style: none;
}

html {
   scroll-behavior: smooth;
}

body {
   background-color: var(--front-page-background);
   color: white;
   overflow-x: hidden;
}

.section-header {
   text-align: center;
   font-size: 3rem;
   letter-spacing: 2px;
}

.front-page {
   width: 100vw;
   height: 100vh;
   position: relative;
}

.front-page .font-page-content {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translateY(-50%);
   transform: translateX(-50%);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.font-page-content h1 {
   font-size: 4rem;
   margin-top: -90px;
}

.font-page-content h1 span {
   color: var(--primary-color);
}

.font-page-content h3 {
   text-transform: uppercase;
   letter-spacing: 2px;
   font-size: 2rem;
}

.font-page-content button {
   cursor: pointer;
}

.font-page-content button i {
   margin-left: 5px;
}

/* Button styling */

.btn {
   border: none;
   padding: 10px 20px;
   margin: 10px;
}

.btn:focus {
   outline: none;
}

.btn-primary {
   border: 3px solid var(--primary-color);
   background: none;
   color: white;
   font-size: 1rem;
   transition: 0.3s;
}

.btn-primary:hover {
   background-color: var(--primary-color);
}

/*  End of Button styling */

/* Navbar Styling */

.navbar {
   width: 100%;
   height: 55px;
   bottom: 0;
   left: 0;
   background-color: var(--navbar-background);
   border-bottom: 3px solid var(--secondary-color);
   transition: all 0.3s ease;
   position: absolute;
}

.navbar ul {
   display: flex;
}

.navbar ul li a {
   color: white;
   text-decoration: none;
   text-transform: uppercase;
   cursor: pointer;
}

.nav-item {
   padding: 15px;
}

.sticky {
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 100;
   transition: all 0.3s ease;
}

.active {
   color: var(--secondary-color) !important;
}

/* End of Navbar Styling */

/* About section */

.about-section {
   width: 100%;
   height: 800px;
   padding: 3.4rem;
   background-color: var(--navbar-background);
}

.about-section hr {
   width: 100px;
   margin: 0 auto;
   margin-top: 10px;
   border: 2px solid var(--hero-background);
}

.profile {
   display: flex;
   justify-content: center;
   margin-top: 100px;
}

.profile img {
   border-radius: 50%;
   width: 350px;
   height: 350px;
}

.tools {
   margin-top: 45px;
   margin-left: 100px;
}

.profile-description {
   width: 500px;
   height: 500px;
   margin-left: 320px;
   margin-top: 10px;
}
.profile-description p {
   font-size: 1rem;
   margin-top: 10px;
}

/* End of About section */

/* Project section */

.project-section {
   width: 100%;
   padding: 3rem;
   background-color: #2d3436;
}

.project-section h1 {
   margin-bottom: 30px;
}

.project-list {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}

.overlay {
   background-color: black;
   opacity: 0.7;
}

/* End of Project section */
